/* header styles */
.header{
    background-image: url("./Assets/Hero-bg.png");
    background-repeat: none;
    width: 1440px;
    height: 700px;
   padding: 30px  200px 0px;
}

/* navbar section styles */
.nav-details{
    display: flex;
    gap: 1100px;

}
.nav-logo{
    width: 99px;
    height: 51px;
   font-weight:900;
   font-size: 34px;
   color: #4E47FF;
}
.inter-normal{
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.btn-primary-1{
    color: #FFFFFF;
    font-size:16px ;
    font-weight: bold;
    width: 132px;
    height:48px ;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 20px;
}
.raleway-normal{
     font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* body styles */
body{
    background-color: #D6DDED;
}




/* banner section styles */
.banner-section{
  margin-bottom: 152px;
  margin: 0px 267.5px;
  width: 905px;
  height: 237px;

}

.btn-primary-2{
     color: #FFFFFF;
    font-size:16px ;
    font-weight: bold;
    width: 174px;
    height:55px ;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
  
    justify-content: center;
     margin-left: 360px;
     text-align: center;
    
   
}
.banner-section-title{
     color: #252432;
    font-size:65px ;
    font-weight: bold;
    width: 905px;
    height:152px ;
    margin-top: 140px;
    text-align: center;
    
}
.btn-primary-2-width{
    padding-bottom: 152px;
   
}


/* action section styles */



/* ready to focus better section styles */



/* productive users section styles */



/* Let’s Get In Touch Section styles */



/* footer section styles */



/* user's feedback section styles */



/* button animation styles */
.button:hover{
    background-color:rgb(11, 197, 221) ;
    cursor: pointer;
}