/* header styles */

.header{
    background-image: url("./Assets/Hero-bg.png");
    background-repeat: none;
    width: 1440px;
    height: 700px;
    padding: 30px  200px 0px;
}

/* body styles */

body{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: grid;
    place-items: center;
}

/* main styles */

main{
    margin-left: 300px;
}

/* font styles */

.inter-normal{
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
     font-style: normal;
     font-variation-settings:
    "wdth" 100;
}

.raleway-normal{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight:<weight>;
    font-style:normal;
}

/* navbar section styles */

.nav-details{
    display: flex;
    gap: 1100px;
}

.nav-logo{
    width: 99px;
    height: 51px;
    font-weight:900;
    font-size: 34px;
    color: #4E47FF;
}

.btn-primary-1{
    color: #FFFFFF;
    font-size:16px ;
    font-weight: bold;
    width: 132px;
    height:48px ;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 20px;
}

/* body styles */
body{
 background-color: #f5f6f8;
}

/* banner section styles */

.banner-section{
  margin-bottom: 152px;
  margin: 0px 267.5px;
  width: 905px;
  height: 237px;
}

.btn-primary-2{
    color: #FFFFFF;
    font-size:16px ;
    font-weight: bold;
    width: 174px;
    height:55px ;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    justify-content: center;
    margin-left: 360px;
    text-align: center;
}

.banner-section-title{
    color: #252432;
    font-size:65px ;
    font-weight: bold;
    width: 905px;
    height:152px ;
    margin-top: 140px;
    text-align: center;
}

.btn-primary-2-width{
    padding-bottom: 152px;
}

/* action section styles */

.action-section{
    display: flex;
    gap: 220px;
    margin-top: 116px;
    margin-right: 150px;
    justify-content:center ;
    width: 1140px;
    height: 328px;
    margin-left: 310px;
}

.action-section-details{
    display: flex;
    flex-direction: column;
    width: 517px;
    height: 60px;
}

.action-section-title{
    font-size:42px ;
    font-weight: bold;
    color:#252432 ;
}

.action-section-description {
      font-size:24px ;
      color:#252432 ;
      margin-top: 23px;
      opacity: 50%;
}

.action-section-btn{
    color: #FFFFFF;
    font-size:16px ;
    font-weight: bold;
    width: 229px;
    height:48px ;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    margin-top: 23px;
}

.action-section-img{
    border-radius: 48px;
    width: 403px;
    height: 328px;
}

/* productive users section styles */

.productive-users-section{
 background-color: #e4e4ee;
 border: none;
 border-radius: 24px;
 width: 1140px;
 height: 250px;
 padding: 20px 10px;
 margin-top: 116px;
 margin-right: 150px;
 margin-left: 300px;
}

.productive-users-section-title{
    text-align: center;
    margin-top: 50px;
    margin-left: 142px;
    margin-right: 142px;
    font-size:38px ;
    font-weight:bold ;
    color: #252432;
    opacity: 100%;
}

.number-of-users {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 142px;
    margin-right: 142px;
    margin-top: 40px;
    margin-bottom: 50px;
    gap: 158px;
    width: 856px;
    height: 121px;
}

.amount{
    font-size:80px  ;
    font-weight:bold;
    color:#4E47FF ;
    margin-left: 20px;
}

.amount-description{
     font-size:20px ;
     color:#000000 ;
     opacity: 50%;
     margin-left: 25px;
     position: relative;
     bottom: 70px;
}

/* user's feedback section styles */

.users-feedback-section-title{
    color:#252432;
    font-size:42px;
    font-weight:bold;
    opacity:100%;
    text-align:center;
    margin-top: 137px;
    margin-right: 10px;
    margin-left: 142px;
    width: 1520px;
}

.users-feedback-section-p-1{
     color:#1E1E1E ;
    font-size:1.25em ;
    font-weight:bold ;
    opacity: 100%;
    margin-top: 24px;
}

.users-feedback-section-p-2{
    color:#1E1E1E;
    font-size: 1em;
    font-weight:400 ;
    opacity: 100%;
    margin-top: 8px;
}

.reviewer-name{
    color:#757575 ;
    font-weight: 600;
    opacity:100% ;
    border: none;
}

.date{
      color:#B3B3B3 ;
      opacity:100% ;
      border: none;
}

.reviewer-sub-details{
   display: flex; 
   flex-direction: column;
}

.reviewer-details{
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
    gap: 12px;
}

.reviewer-img{
    border-radius: 9999px;
}

.users-feedback-section-rating{
    display: flex;
    gap: 4px;
    margin-top: 24px;
}

.users-feedback-section-details{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    margin-left: 320px;
}

.users-feedback-section-info{
    width:330px ;
    height:210px ;
    border-radius: 14px;
    background-color: #FFFFFF;
    padding: 15px 20px;
}

/* ready to focus better section styles */

.ready-to-focus-better-section{
    background-color: #FFFFFF;
    border-radius: 14px;
    width: 1170px;
    height: 690px;
    margin-left: 310px;
    margin-top: 130px;
    padding: 30px 0px;
}

.ready-to-focus-better-section-title{
    text-align: center;
    font-size:50px  ;
    font-weight:bold;
    color:#000000 ;
    margin-top: 71px;
    margin-left: 310px;
    margin-right: 310px;
}

.ready-to-focus-better-section-descript{
    text-align: center;
    color:#000000;
    font-size: 1em;
    font-weight:400 ;
    opacity: 50%;
    margin-top: 20px;
    margin-left: 325px;
    margin-right: 325px;
}

.ready-to-focus-better-section-btn{
    color: #FFFFFF;
    font-size:16px ;
    font-weight:500;
    width: 195px;
    height:48px ;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 490px;
    margin-right: 471px;
}

.ready-to-focus-better-section-img{
    width: 840px;
    height: 370px;
    border-radius: 48px;
    margin-top: 20px;
    margin-left: 165px;
    margin-right: 150px;
    margin-bottom:70px;
}

/* Let’s Get In Touch Section styles */

.lets-get-in-touch-section{
    display: flex;
    gap: 40px;
    width: 1600px;
    margin-top:93px;
    margin-bottom:14px;
    margin-left:300px;
    margin-right:150px;
}

.lets-get-in-touch-section-form{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.lets-get-in-touch-section-form-btn{
    color: #FFFFFF;
    font-size:16px ;
    font-weight:bold;
    width: 540px;
    height:72px ;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    margin-top: 19px;
}

.lets-get-in-touch-section-title{
    width:600px ;
    height:150px ;
   font-weight:bold ;
   font-size:97px ;
   color: #000000;
   margin-top: 220px;
}

.lets-get-in-touch-section-form-title{
   font-weight:500;
   font-size:18px ;
   color: #000000;
   margin-bottom: 10px;
   margin-top: 19px;
}

.lets-get-in-touch-section-form-bar-1{
    width: 497px;
    height: 70px;
    border-radius:10px ;
    background-color: #FFFFFF;
    padding: 5px 10px;
    border: 1px solid #D6DDED;
    padding-left: 30px;
}

.lets-get-in-touch-section-form-bar-2{
    width: 497px;
    height: 70px;
    border-radius:10px ;
    background-color: #FFFFFF;
    padding: 5px 10px;
    border: 1px solid #D6DDED;
    padding-left: 30px;
}

.lets-get-in-touch-section-form-bar-3{
    width: 497px;
    height: 100px;
    border-radius:10px ;
    background-color: #FFFFFF;
    padding: 22px 10px;
    border: 1px solid #D6DDED;
    padding-left: 30px;
}

::placeholder{
   color:#000000;
   font-size:20px;
   opacity: 50%;
}

/* footer section styles */




/* button animation styles */
.button:hover{
    background-color:rgb(87, 222, 240) ;
    cursor: pointer;
}