/* header styles */
.header{
    background-image: url("./Assets/Hero-bg.png");
    background-repeat: none;
    width: 1440px;
    height: 700px;
   padding: 30px  200px 0px;
}

/* navbar section styles */
.nav-details{
    display: flex;
    gap: 1100px;

}
.nav-logo{
    width: 99px;
    height: 51px;
   font-weight:900;
   font-size: 34px;
   color: #4E47FF;
}
.inter-normal{
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.btn-primary-1{
    color: #FFFFFF;
    font-size:16px ;
    font-weight: bold;
    width: 132px;
    height:48px ;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 20px;
}
.raleway-normal{
     font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* body styles */
body{
    background-color: #f5f6f8;
}




/* banner section styles */
.banner-section{
  margin-bottom: 152px;
  margin: 0px 267.5px;
  width: 905px;
  height: 237px;

}

.btn-primary-2{
     color: #FFFFFF;
    font-size:16px ;
    font-weight: bold;
    width: 174px;
    height:55px ;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
  
    justify-content: center;
     margin-left: 360px;
     text-align: center;
    
   
}
.banner-section-title{
     color: #252432;
    font-size:65px ;
    font-weight: bold;
    width: 905px;
    height:152px ;
    margin-top: 140px;
    text-align: center;
    
}
.btn-primary-2-width{
    padding-bottom: 152px;
   
}

/* action section styles */
.action-section{
    display: flex;
    gap: 220px;
    margin-top: 116px;
    margin-right: 150px;
  
    justify-content:center ;
    width: 1140px;
    height: 328px;
    margin-left: 310px;
}
.action-section-details{
    display: flex;
    flex-direction: column;
    width: 517px;
   height: 60px;
}
.action-section-title{
    font-size:42px ;
    font-weight: bold;
    color:#252432 ;
}
.action-section-description {
      font-size:24px ;
      color:#252432 ;
      margin-top: 23px;
      opacity: 50%;

}
.action-section-btn{
      color: #FFFFFF;
    font-size:16px ;
    font-weight: bold;
    width: 229px;
    height:48px ;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    margin-top: 23px;

}

.action-section-img{
    border-radius: 48px;
    width: 403px;
    height: 328px;

}


/* productive users section styles */
.productive-users-section{
 background-color: #e4e4ee;
 border: none;
 border-radius: 24px;
 width: 1140px;
 height: 250px;
 padding: 20px 10px;
 margin-top: 116px;
 margin-right: 150px;
 margin-left: 300px;
 
}
.productive-users-section-title{
    text-align: center;
    margin-top: 50px;
    margin-left: 142px;
    margin-right: 142px;
    font-size:38px ;
    font-weight:bold ;
    color: #252432;
    opacity: 100%;

}
.number-of-users {
    display: flex;
   justify-content: space-around;
   align-items: center;
      margin-left: 142px;
    margin-right: 142px;
    margin-top: 40px;
    margin-bottom: 50px;
    gap: 158px;
    width: 856px;
    height: 121px;
}

.amount{
     font-size:80px  ;
    font-weight:bold;
    color:#4E47FF ;
    margin-left: 20px;
    
}
.amount-description{
     font-size:20px ;
     color:#000000 ;
     opacity: 50%;
     margin-left: 25px;
     position: relative;
     bottom: 70px;
}



/* user's feedback section styles */




/* ready to focus better section styles */




/* Let’s Get In Touch Section styles */




/* footer section styles */




/* button animation styles */
.button:hover{
    background-color:rgb(87, 222, 240) ;
    cursor: pointer;
}